
{{> head }}
{{> navbar }}

<div class="row">
     <div class="col-8">
          <h1>Capitan America</h1>
          <p>
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo dolorem perspiciatis repellendus facere impedit consequatur! Sint voluptas enim similique magnam tempore id laudantium nisi iste, provident cupiditate neque vitae corrupti?
          </p>
     </div>
     <div class="col-4"
          <img src="assets/images/linterna-verde.png" class="img-thumbnail">
     </div>
</div>

{{> footer }}